<mat-card >
  <mat-card-title *ngIf="tickerBTC">Step 1</mat-card-title>
  <mat-card-subtitle>Посчитайте</mat-card-subtitle>
  <mat-divider></mat-divider>


  <form (ngSubmit)="onSubmit()" [formGroup]="reg" class="app-form">
    <mat-form-field>
      <input matInput placeholder="Phone" formControlName="phone" required="">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email" required="">
    </mat-form-field>


    <mat-form-field>
      <input matInput placeholder="Password" formControlName="password">
    </mat-form-field>



    <mat-card-actions>
      <button mat-button class="mat-primary" submit>Submit</button>
    </mat-card-actions>
  </form>
</mat-card>